p {
  margin: 8px 0;
}

a {
  text-decoration: none;
  color: rgb(38, 57, 77);
}

img {
  display: block;
  object-fit: cover;
}

.search-form {
  padding: 10px;
  background-color: blanchedalmond;
}

.br {
  border-radius: 8px;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 30px;
  gap: 30px;
  margin: 0 auto;
  max-width: 1430px;
}

.card {
  display: block;
  width: 320px;
  border-radius: 8px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: all 250ms ease-out;
}

.card:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  cursor: pointer;
}

.card-details {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.card-details-content {
  text-align: center;
  font-size: 13px;
}

.card-details-content-label {
  font-weight: 600;
}

.card-image-wrapper {
  max-width: 320px;
  max-height: 213px;
}
